<form action="/show" method="post">
Pirate Name: <input type="text" name="pirate[name]">
Pirate Weight: <input type="text" name="pirate[weight]">
Pirate Height: <input type="text" name="pirate[height]">
Ship Name: <input type="text" name="ship[name]">
Ship Type: <input type="text" name="ship[type]">
Ship Booty Attribute: <input type="text" name="ship[booty_attribute]">

</form>
